@model IEnumerable<RubricaWeb.ViewModels.VM_Materia>


@{
    ViewBag.Title = "ListadoMaterias";
}

<h2>Listado de Materias Por Curso</h2>



@using (Html.BeginForm())


{
    int contador = 0;


    foreach (var item in Model)
    {
        if (item.orden != 0)
        {
            contador++;
           
            <div class="row">
                <div class="col-10 offset-1">
                    <h4 class="text-center">  </h4>
                    <table class="table table-bordered table-striped">

                        <thead>
                            <tr>
                                <th class="text-center">
                                    Nombre Materia
                                </th>
                                <th class="text-center">
                                    Curso
                                </th>
                                <th class="text-center">
                                    Docente
                                </th>
                                <th class="text-center">
                                    Cantidad de Horas
                                </th>
                                <th class="text-center">
                                    Accion
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var items in Model)
                            {

                                if (items.orden == contador & (items.orden != 0))

                                {
                                    <tr class="text-center">
                                        <td>
                                            @Html.DisplayFor(modelItem => items.materia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => items.curso)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => items.docente)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => items.horas)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EliminarMateria", "Materia", new { @idMateria = items.idMateria, @idDocente=items.idDocente })" class="btn btn-danger">Eliminar Materia</a>
                                            <a href="@Url.Action("AsignarDocente", "Materia", new { @idMateria = items.idMateria })" class="btn btn-danger">Asignar Docente</a>

                                            <button class="btn btn-danger" type="submit">
                                                @Html.ActionLink("Eliminar Materia", "EditarMateria", "Materia", new { Model, parametro = 1 })
                                            </button>
                                        </td>
                                    </tr>

                                }

                            }

                        </tbody>

                    </table>

                </div>

            </div>
            <br />



        }

    }
    <a href="@Url.Action("CargarMateria", "Materia")" class="btn btn-outline-danger">Agregar Materia</a>
    <button class="btn btn-block" type="submit">
        @Html.ActionLink("AgregarMateria", "CargarMateria", "Materia")
    </button>
}







