@model IEnumerable<RubricaWeb.ViewModels.VM_Materia>


@{
    ViewBag.Title = "ListadoMaterias";
}

<h2>Listado de Materias Por Curso</h2>



@using (Html.BeginForm())

{
    //LISTADO PRIMER AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Primer Año</h4>
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>

                        <th class="text-center">
                            Nombre Materia
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                        <th class="text-center">
                            Docente
                        </th>
                        <th class="text-center">
                            Accion
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            if (item.curso == "Primer Año")

                            {
                                <tr class="text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.materia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.curso)
                                    </td>
                                    <td>
                                        ACA VA A IR EL NOMBRE DEL PROFESOR
                                    </td>
                                    <td>
                                        ACA VAN A IR LOS BOTONES
                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
    <br />

    //LISTADO SEGUNDO AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Segundo Año</h4>

            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th class="text-center">
                            Nombre Materia
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                        <th class="text-center">
                            Docente
                        </th>
                        <th class="text-center">
                            Accion
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            if (item.curso == "Segundo Año")

                            {
                                <tr class="text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.materia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.curso)
                                    </td>
                                    <td>
                                        ACA VA A IR EL NOMBRE DEL PROFESOR
                                    </td>
                                    <td>
                                        ACA VAN A IR LOS BOTONES
                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>

    //LISTADO TERCER AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Tercer Año</h4>
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th class="text-center">
                            Nombre Materia
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                        <th class="text-center">
                            Docente
                        </th>
                        <th class="text-center">
                            Accion
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            if (item.curso == "Tercer Año")

                            {
                                <tr class="text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.materia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.curso)
                                    </td>
                                    <td>
                                        ACA VA A IR EL NOMBRE DEL PROFESOR
                                    </td>
                                    <td>
                                        ACA VAN A IR LOS BOTONES
                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
    <br />

    //LISTADO CUARTO AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Cuarto Año</h4>
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th class="text-center">
                            Nombre Materia
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                        <th class="text-center">
                            Docente
                        </th>
                        <th class="text-center">
                            Accion
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            if (item.curso == "Cuarto Año")

                            {
                                <tr class="text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.materia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.curso)
                                    </td>
                                    <td>
                                        ACA VA A IR EL NOMBRE DEL PROFESOR
                                    </td>
                                    <td>
                                        ACA VAN A IR LOS BOTONES
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />

    //LISTADO QUINTO AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Quinto Año</h4>
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th class="text-center">
                            Nombre Materia
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                        <th class="text-center">
                            Docente
                        </th>
                        <th class="text-center">
                            Accion
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            if (item.curso == "Quinto Año")

                            {
                                <tr class="text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.materia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.curso)
                                    </td>
                                    <td>
                                        ACA VA A IR EL NOMBRE DEL PROFESOR
                                    </td>
                                    <td>
                                        ACA VAN A IR LOS BOTONES
                                    </td>

                                </tr>

                            }
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
    <br />

    //LISTADO SEXTO AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Sexto Año</h4>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">
                            Nombre Materia
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                        <th class="text-center">
                            Docente
                        </th>
                        <th class="text-center">
                            Accion
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            if (item.curso == "Sexto Año")

                            {
                                <tr class="text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.materia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.curso)
                                    </td>
                                    <td>
                                        ACA VA A IR EL NOMBRE DEL PROFESOR
                                    </td>
                                    <td>
                                        ACA VAN A IR LOS BOTONES
                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>


}

