@model IEnumerable<RubricaWeb.ViewModels.VM_Estudiante>


@{
    ViewBag.Title = "ListadoEstudiantes";
}

<h2>ListadoEstudiantes</h2>



@using (Html.BeginForm())

{
    //LISTADO PRIMER AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Primer Año</h4>
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th class="text-center">
                            N°
                        </th>
                        <th class="text-center">
                            Apellido y Nombre
                        </th>
                        <th class="text-center">
                            Documento de Identidad
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int index = 0;
                        foreach (var item in Model)
                        {
                            if (item.Curso == "Primer Año")

                            {
                                <tr class="text-center">
                                    <td>  @(index + 1) </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dni)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Curso)
                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
    <br />

    //LISTADO SEGUNDO AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Segundo Año</h4>

            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th class="text-center">
                            N°
                        </th>
                        <th class="text-center">
                            Apellido y Nombre
                        </th>
                        <th class="text-center">
                            Documento de Identidad
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int index2 = 1;
                        foreach (var item in Model)
                        {
                            if (item.Curso == "Segundo Año")

                            {
                                <tr class="text-center">
                                    <td>  @(index2 ++) </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dni)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Curso)
                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>

    //LISTADO TERCER AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Tercer Año</h4>
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th class="text-center">
                            N°
                        </th>
                        <th class="text-center">
                            Apellido y Nombre
                        </th>
                        <th class="text-center">
                            Documento de Identidad
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int index3 = 1;
                        foreach (var item in Model)
                        {
                            if (item.Curso == "Tercer Año")

                            {
                                <tr class="text-center">
                                    <td>  @(index3 ++) </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dni)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Curso)
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
    <br />

    //LISTADO CUARTO AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Cuarto Año</h4>
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th class="text-center">
                            N°
                        </th>
                        <th class="text-center">
                            Apellido y Nombre
                        </th>
                        <th class="text-center">
                            Documento de Identidad
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int index4 = 1;
                        foreach (var item in Model)
                        {
                            if (item.Curso == "Cuarto Año")

                            {
                                <tr class="text-center">
                                    <td>  @(index4 ++) </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dni)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Curso)
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />

    //LISTADO QUINTO AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Quinto Año</h4>
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th class="text-center">
                            N°
                        </th>
                        <th class="text-center">
                            Apellido y Nombre
                        </th>
                        <th class="text-center">
                            Documento de Identidad
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int index5 = 1;
                        foreach (var item in Model)
                        {
                            if (item.Curso == "Quinto Año")

                            {
                                <tr class="text-center">
                                    <td>  @(index5 ++) </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dni)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Curso)
                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
    <br />

    //LISTADO SEXTO AÑO
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Sexto Año</h4>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">
                            N°
                        </th>
                        <th class="text-center">
                            Apellido y Nombre
                        </th>
                        <th class="text-center">
                            Documento de Identidad
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int index6 = 0;
                        foreach (var item in Model)
                        {
                            if (item.Curso == "Sexto Año")

                            {
                                <tr class="text-center">
                                    <td>  @(index6 + 1) </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dni)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Curso)
                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>


}

