@model IEnumerable<RubricaWeb.ViewModels.VM_Estudiante>


@{
    ViewBag.Title = "ListadoEstudiantes";
    List<RubricaWeb.ViewModels.VM_Estudiante> itemsEstudiantes = (List<RubricaWeb.ViewModels.VM_Estudiante>)ViewBag.listaEstudiantes;

}

<h2>ListadoEstudiantes</h2>



@using (Html.BeginForm())

{
    int contador = 1;
    int index = 1;
    <div class="row">
        <div class="col-10 offset-1">
            <h4 class="text-center"> Listado </h4>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">
                            N°
                        </th>
                        <th class="text-center">
                            Apellido y Nombre
                        </th>
                        <th class="text-center">
                            Documento de Identidad
                        </th>
                        <th class="text-center">
                            Curso
                        </th>
                        <th class="text-center">
                            Acciones
                        </th>
                    </tr>
                </thead>
                @foreach (var item in itemsEstudiantes)
                {
                    <tbody>
                        <tr class="text-center">
                            <td>  @(index ++) </td>
                            <td>
                                @Html.DisplayFor(Model => item.NombreCompleto)
                            </td>
                            <td>
                                @Html.DisplayFor(Model => item.Dni)
                            </td>
                            <td>
                                @Html.DisplayFor(Model => item.Curso)
                            </td>
                            <td>
                                <a href="@Url.Action("EliminarEstudiante", "Estudiante", new { @IdEstudiante = item.IdEstudiante })" class="btn btn-danger">ELIMINAR</a>
                                <a href="@Url.Action("MostrarDatosEstudiante", "Estudiante", new { @IdEstudiante = item.IdEstudiante })" class="btn btn-info">DATOS</a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
    <br />






}

