@model List<RubricaWeb.ViewModels.VM_LibretaNotasMateria>

@{
//Layout = null;
//List<RubricaWeb.ViewModels.VM_Estudiante> itemsCurso = (List<RubricaWeb.ViewModels.VM_Estudiante>)ViewBag.listaEstudiantes;
//string nombreMateria = ViewBag.NombreMateria;
//string nombreCurso = ViewBag.NombreCurso;

//List<SelectListItem> combo = (List<SelectListItem>)ViewBag.comboCriterios;

//RubricaWeb.ViewModels.VM_Tema tema = ViewBag.datosTema;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rubrica</title>
    <link href="~/Content/rubrica.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body class="container-fluid">


    <h1 class="text-center">NOTAS MATERIA </h1>



    @using (Html.BeginForm())
    {
        @*@Html.HiddenFor(Model => Model.IdDocente)idNroTema*@


        @*<div class="col-1 p-0 border">
                @Html.DropDownListFor(model => model[1].Numerotema, new SelectList(combo, "Value", "Text"), "Valor", htmlAttributes: new { @class = "form-control dropdown text-center", @Name = "valorCriterio" })


                @Html.DropDownList("idCombo", combo, "combo", htmlAttributes: new { @class = "form-control", @onchange= "Refresh()" })


            </div>*@

        <div class="container-fluid">

            <div class="row  text-center table-striped">
                <div class="col-1 table-bordered font-weight-bold bg-info ">N°</div>
                <div class="col-3 border font-weight-bold bg-info ">Nombre y Apellido</div>
                <div class="col-1 border font-weight-bold bg-info ">TEMA 1:</div>
                <div class="col-1 border font-weight-bold bg-info ">TEMA 2:</div>
                <div class="col-1 border font-weight-bold bg-info ">TEMA 3:</div>
                <div class="col-1 border font-weight-bold bg-info ">TEMA 4:</div>
                <div class="col-1 border font-weight-bold bg-info ">TEMA 5:</div>
                <div class="col-1 border font-weight-bold bg-info ">TEMA 6:</div>
                <div class="col-2 border font-weight-bold bg-info ">PROMEDIO</div>


            </div>



            @{ int nro = 1;
                for (int i = 0; i < Model.Count; i++)

                {
                        <div class="row text-center">

                            @*@Html.HiddenFor(Model => Model[i].IdEstudiante, new { })*@
                            @Html.HiddenFor(Model => Model[i].IdTema, new { })
                            @Html.HiddenFor(Model => Model[i].IdMateria, new { })
                            @*@Html.HiddenFor(Model => Model[1].IdNroTema, new { })*@

                            <div class="col-1 border">@(nro++)</div>
                            <div class="col-3 border">@Html.Label(Model[i].NombreEstudiante)</div>
                            <div class="col-1 p-0 border col-form-label "> @Html.Label(Model[i].Nota1.ToString(), htmlAttributes: new { @class = "form-control text-center" })</div>
                            <div class="col-1 p-0 border "> @Html.Label(Model[i].Nota2.ToString(), htmlAttributes: new { @class = "form-control dropdown text-center" })</div>
                            <div class="col-1 p-0 border "> @Html.Label(Model[i].Nota3.ToString(), htmlAttributes: new { @class = "form-control dropdown text-center" })</div>
                            <div class="col-1 p-0 border border-0"> @Html.Label(Model[i].Nota4.ToString(), htmlAttributes: new { @class = "form-control dropdown text-center" })</div>
                            <div class="col-1 p-0 border border-0"> @Html.Label(Model[i].Nota5.ToString(), htmlAttributes: new { @class = "form-control dropdown text-center" })</div>
                            <div class="col-1 p-0 border border-0"> @Html.Label(Model[i].Nota6.ToString(), htmlAttributes: new { @class = "form-control dropdown text-center" })</div>


                            <div class="col-2 p-0 border"> -  </div>





                        </div>
                }
            }
        </div>

      

    }



</body>
</html>
