
@{
    Layout = "~/Views/Shared/_Layout_Docente.cshtml";
    List<RubricaWeb.ViewModels.VM_ListadoRubrica> tema = (List<RubricaWeb.ViewModels.VM_ListadoRubrica>)ViewBag.listaTemas;
    string nombreMateria = ViewBag.NombreMateria;
    string nombreCurso = ViewBag.NombreCurso;
    RubricaWeb.ViewModels.VM_DocenteXMateria datos = (RubricaWeb.ViewModels.VM_DocenteXMateria)ViewBag.datosDocente;
    int idcurso = ViewBag.idCurso;
}

@*<!DOCTYPE html>

    <html>
    <head>

    </head>*@



@*<body class="container-fluid">*@

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
@using (Html.BeginForm())
{

    <div class="container-fluid">
        <header class="pb-3 mb-4 border-bottom text-white ">
            <h2 class="text-center h3 font-weight-bolder"> <span class="badge badge-pill badge-secondary" style="font-size:larger">@Html.Label(nombreMateria)</span></h2>
            <h3 class="text-center h5 font-weight-bolder" style="font-size:large;"> <span class="badge badge-pill badge-secondary" style="font-size:larger">@Html.Label(nombreCurso)</span></h3>
        </header>

        <div class="row border  text-center table-striped">
            <div class="col-1 table-bordered font-weight-bold bg-info "> N° TEMA </div>
            <div class="col-2 border font-weight-bold bg-info ">DESCRIPCION TEMA</div>
            <div class="col-2 border font-weight-bold bg-info ">APRENDIZAJE</div>
            <div class="col-1 border font-weight-bold bg-info ">Criterio 1:</div>
            <div class="col-1 border font-weight-bold bg-info ">Criterio 2:</div>
            <div class="col-1 border font-weight-bold bg-info ">Criterio 3:</div>
            <div class="col-1 border font-weight-bold bg-info ">Criterio 4:</div>
            <div class="col-1 border font-weight-bold bg-info ">Criterio 5:</div>
            <div class="col-1 border font-weight-bold bg-info ">Criterio 6:</div>
            <div class="col-1 border font-weight-bold bg-info ">Accion</div>
        </div>
        @{ foreach (var item in tema)

            {
                <div class="row  text-center p-0 justify-content-center row-cols-1 bg-light ">

                    @Html.HiddenFor(IdMateria => item.idMateria, new { @Name = item.idMateria })
                    @Html.HiddenFor(IdTema => item.idTema, new { @Name = item.idTema })
                    @Html.HiddenFor(IdNroTema => item.idNroTema, new { @Name = item.idNroTema })


                    <div class="col-1 border col-form-label align-middle  d-flex align-items-center justify-content-center">@(item.numeroTema)</div>
                    <div class="col-2 border col-form-label align-middle d-flex align-items-center justify-content-center text-uppercase">@(item.descripcionTema)</div>
                    <div class="col-2 border col-form-label align-middle  d-flex align-items-center justify-content-center ">  @(item.aprendizaje)</div>
                    <div class="col-1 border col-form-label align-middle d-flex align-items-center justify-content-center">  @(item.descripcionCriterio1)</div>
                    <div class="col-1 border col-form-label align-middle d-flex align-items-center justify-content-center">  @(item.descripcionCriterio2)</div>
                    <div class="col-1 border col-form-label align-middle d-flex align-items-center justify-content-center">  @(item.descripcionCriterio3)</div>
                    <div class="col-1 border col-form-label align-middle d-flex align-items-center justify-content-center">  @(item.descripcionCriterio4)</div>
                    <div class="col-1 border col-form-label align-middle d-flex align-items-center justify-content-center">  @(item.descripcionCriterio5)</div>
                    <div class="col-1 border col-form-label align-middle d-flex align-items-center justify-content-center">  @(item.descripcionCriterio6)</div>
                    <div class="col-1 p-0 border align-items-center justify-content-center d-flex">

                        <div class="row justify-content-center justify-content">
                            <div class="col-12 justify-content-center ">
                                <div class="row d-flex pb-1 m-0 align-items-center">
                                    @*int idMateria, int idNroTema, int idTema*@

                                    <div class="col-6  m-0 ">
                                        <a class="text-info small" href="@Url.Action("Rubrica", "Rubrica", new { idMateria = item.idMateria, @idNroTema = item.idNroTema, @idTema = item.idTema})"><i class="fas fa-clipboard-check  fa-lg m-0 p-0"></i> <br />Evaluar</a>
                                    </div>
                                    <div class="col-6 m-0">
                                        <a class="text-info small" href="@Url.Action("LibretaMateria", "Rubrica", new {  @idMateria = item.idMateria, @pagina=1})"><i class="fas fa-sort-numeric-up fa-lg"></i>  <br />Notas</a>
                                    </div>


                                </div>
                                <div class="row d-flex pb-1 m-0 align-items-center">
                                    <div class="col-12  m-0 ">
                                        <a class="text-info small" href="@Url.Action("EditarCargaTemas", "Rubrica", new { @idTema = item.idTema, @idDocente = datos.idDocente })"><i class="fas fa-edit fa-lg "></i> <br />Editar Tema</a>
                                    </div>

                                </div>


                                    @*<div class="col-6 p-0 m-0   ">
                <a class="text-info small" href="@Url.Action("ListadoTemasCargados", "Rubrica", new {  @idMateria = item.idMateria, @idCurso = idcurso})"><i class="fas fa-clipboard-list fa-lg m-0 p-0"></i>  <br />Temas Cargados</a>
            </div>*@



                                </div>
                            </div>





                        @*<div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown">
                                    Accion
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("Rubrica", "Rubrica", new {  @idMateria = item.idMateria, idNroTema = item.idNroTema, idTema = item.idTema})">Editar Rubrica</a>
                                    <a class="dropdown-item" href="@Url.Action("ListadoTemasCargados", "Rubrica", new {  @idMateria = item.idMateria, idNroTema = item.idNroTema})">Ver Notass</a>
                                    <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                            </div>*@
                    </div>
                </div>
            }
        }

        <div class="row mt-5 mb-5 pb-5">
            <div class="col-12 d-flex text-center">

                <div class="col-4 text-center">
                    <a class="btn mt-2 text-light font-weight-bolder text-uppercase" href="@Url.Action("PanelDocente", "Docente", new { datos.idDocente})"><i class="text-primary fas fa-angle-double-left fa-3x align-items-center mb-2 "></i> <br /> Listado Materias</a>

                </div>
                <div class="col-4">
                    <a class="btn mt-2  text-light font-weight-bolder text-uppercase" href="@Url.Action("CargaTemas", "Rubrica", new {  @idDocente = datos.idDocente,@idMateria = datos.idMateria, @idCurso = idcurso})"><i class="text-primary fas fa-plus-circle fa-3x align-items-center mb-2"></i> <br />TEMA NUEVO</a>

                </div>
                <div class="col-4">
                    <a class="btn mt-2  text-light font-weight-bolder text-uppercase" href="@Url.Action("LibretaMateria", "Rubrica", new {  @idMateria = datos.idMateria , @pagina = 1})"><i class="text-primary fas fa-sort-numeric-up fa-lg fa-3x align-items-center mb-2"></i>  <br />VER NOTAS</a>
                </div>
            </div>
        </div>



    </div>
}
@*</body>
    </html>*@
