@model RubricaWeb.ViewModels.VM_Tema
@{
    Layout = "~/Views/Shared/_Layout_Docente.cshtml";
    List<RubricaWeb.ViewModels.VM_Estudiante> itemsCurso = (List<RubricaWeb.ViewModels.VM_Estudiante>)ViewBag.listaEstudiantes;
    string nombreMateria = ViewBag.NombreMateria;
    string nombreCurso = ViewBag.NombreCurso;

    List<SelectListItem> combo = (List<SelectListItem>)ViewBag.comboCriterios;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rubrica</title>
    @*<link href="~/Content/rubrica.css" rel="stylesheet" id="bootstrap-css">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body class="container-fluid">

    @using (Html.BeginForm())
    {
        @*@Html.HiddenFor(Model => Model.IdDocente)*@

        <div class="container-fluid">
            <header class="pb-3 mb-4 border-bottom">
                <h3 class="text-center"> @Html.Label(nombreMateria)</h3>
                <h5 class="text-center"> @Html.Label(nombreCurso)</h5>
            </header>

            <div class="container-fluid">
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-outline">
                            <h1 class="display-5 fw-bold">Tema Nro: @Html.DropDownList("IdTema", combo, "Elija el numero de Tema", htmlAttributes: new { @class = "form-control dropdown", }) </h1>
                            <h1 class="">Titulo Tema:  @Html.TextBoxFor(model => Model.DescripcionTema, htmlAttributes: new { @class = "form-control form-control-lg", @required = "required" }) </h1>
                            <h2 class="display-5 fw-bold">Aprendizajes:  @Html.TextAreaFor(model => Model.Aprendizaje, htmlAttributes: new { @class = "form-control form-control-lg", @rows = "4", @placeholder = "Frase que resuma el aprendizaje a obtener segun los criterios", @required = "required" }) </h2>
                            <h4 class=""> Criterio 1 @Html.TextBoxFor(model => Model.DescripcionCriterio1, htmlAttributes: new { @class = "form-control form-control-md" })</h4>
                            <h4 class=""> Criterio 2 @Html.TextBoxFor(model => Model.DescripcionCriterio2, htmlAttributes: new { @class = "form-control form-control-md" })</h4>
                            <h4 class="display-5 fw-bold"> Criterio 3  @Html.TextBoxFor(model => Model.DescripcionCriterio3, htmlAttributes: new { @class = "form-control form-control-md" })</h4>
                            <h4 class="display-5 fw-bold"> Criterio 4  @Html.TextBoxFor(model => Model.DescripcionCriterio4, htmlAttributes: new { @class = "form-control form-control-md" })</h4>
                            <h4 class="display-5 fw-bold"> Criterio 5 @Html.TextBoxFor(model => Model.DescripcionCriterio5, htmlAttributes: new { @class = "form-control form-control-md" })</h4>
                            <h4 class="display-5 fw-bold"> Criterio 6 @Html.TextBoxFor(model => Model.DescripcionCriterio6, htmlAttributes: new { @class = "form-control form-control-md" })</h4>

                            <button type="submit" class="btn btn-primary">Cargar</button>



                            @*<a href="@Url.Action("ListadoDocentes", "Docente", new { })" class="btn btn-outline-info">Volver</a>
                                <a href="@Url.Action("EditarDocente", "Docente", new {@idDocente= Model.IdDocente })" class="btn btn-outline-info">Editar</a>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</body>
</html>


