@model IEnumerable<RubricaWeb.ViewModels.VM_Docente>
@{
    ViewBag.Title = "ListadoDocentes";
}




@using (Html.BeginForm())

{
    //LISTADO PRIMER AÑO
    <div class="container">
        <div class="col-10 offset-1">
            <h2 class="text-center rounded" style="background-color:rgba(255, 255, 255, 0.82)">
                LISTADO DE DOCENTES</h2>
                <table class="table table-bordered table-striped">

                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">
                                Apellido y Nombre
                            </th>
                            <th class="text-center">
                                Dni
                            </th>
                            <th class="text-center">
                                Rol
                            </th>
                            <th class="text-center">
                                Acciones
                            </th>

                        </tr>
                    </thead>
                    <tbody class="table-bordered">
                        @{
                            foreach (var item in Model)
                            {
                                <tr class="text-center bg-light border">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreDocente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DniDocente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rol)
                                    </td>
                                    <td class="d-flex">
                                        <a href="@Url.Action("EliminarDocente", "Docente", new { @idDocente = item.IdDocente })" class="col-6 text-danger m-0 p-0"><i class="fas fa-ban "></i> <br />ELIMINAR</a>
                                        <a href="@Url.Action("MostrarDatosDocentes", "Docente", new { @idDocente = item.IdDocente })" class="col-6 text-info m-0 p-0"><i class="fas fa-info" data-toggle="tooltip" data-placement="top" title="Ver Info"></i> <br />  DATOS</a>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

</div>
    </div>
    <br />
}
